:root {
  --main-color: #212121;
  --main-background-color: #f5f4fa;
  --selection-color: #2196f3;
}

.body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--main-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: #000;
}
footer > a.logo {
  color: #fff;
}
.logo > span {
  color: var(--selection-color);
}

.menu > .button {
  cursor: pointer;
}
.menu > .button:focus,
.menu > .button:hover: {
  background-color: #2196f3;
}
.main-pages > .page:active {
  color: #2196f3;
}
